{:kotoba.app/id "cloud.itonami.isic-2022", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreigqw4cr5x7bszbhpgld2tk43ewsdwrufl3hr5ltemidlabxn23b5i", :kotoba.app/embed-url "ipfs://bafkreigqw4cr5x7bszbhpgld2tk43ewsdwrufl3hr5ltemidlabxn23b5i", :published {:archive "https://kotobase.net/ipfs/bafkreigqw4cr5x7bszbhpgld2tk43ewsdwrufl3hr5ltemidlabxn23b5i", :size 73649, :put-status 201, :get-status 200, :at "2026-08-15T13:38:51.617Z"}}
